# Python cache

**pycache**/
*.py[cod]

# Virtual environments

venv/
.venv/
env/
team7_venv/
team7_venv.venv/

# Environment variables

.env
.env.*

# Django database

db.sqlite3

# Logs

*.log

# VS Code

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# OS files

.DS_Store
Thumbs
